<md-list ng-repeat="user in main.users">
    <md-list-item layout="row" layout-align="space-between center" ng-href="#!/users/{{user._id}}">
        <div flex>{{user.first_name}} {{user.last_name}}</div>
        <div flex layout="row" layout-align="end center" ng-if="main.advanced">
            <md-button class="small" aria-label="All photos" ng-href="#!/photos/{{user._id}}">
                <md-icon md-svg-src="components/user-list/ic_photo_black_18px.svg"></md-icon><font>{{user.photo_count}}</font>
            </md-button>
            <md-button class="small" aria-label="All comments" ng-href="#!/comments/{{user._id}}">
                <md-icon md-svg-src="components/user-list/ic_chat_bubble_outline_black_18px.svg"></md-icon><font>{{user.comment_count}}</font>
            </md-button>
        </div>
    </md-list-item>
</md-list>