<md-card ng-if="user" ng-cloak>
    <md-card-title>
        <md-card-title-text layout="column" layout-align="center center">
            <span class="md-headline">{{user.first_name}} {{user.last_name}}</span>
            <span class="md-subhead">{{user.description}}</span>
            <span class="md-subhead"><strong>Occupation: </strong>{{user.occupation}}</span>
            <span class="md-subhead"><strong>Location: </strong>{{user.location}}</span>
            <md-button class="md-raised md-primary" ng-href="#!/photos/{{user._id}}">See my photos!</md-button>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div layout="column">
            <div layout="column" layout-align="center center">
                <span class="md-subhead" ng-if="mentions.length === 0"><strong>{{user.first_name}} {{user.last_name}} has no mentions</strong></span>
                <span class="md-subhead" ng-if="mentions.length != 0"><strong>My mentions</strong></span>
                <div  layout="row" layout-wrap>
                    <div ng-repeat="mention in mentions">
                        <div layout="column" layout-align="space-between center" >
                            <md-button class="md-raised" aria-label="Go to owner detail" ng-href="#!/users/{{mention.owner._id}}">
                                {{mention.owner.first_name}} {{mention.owner.last_name}}
                            </md-button>
                            <md-button aria-label="Go to photo" ng-href="#!/photos/{{mention.owner._id}}?photoId={{mention._id}}">
                                <img class="thumbnail" ng-src="images/{{mention.file_name}}" />
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </md-card-content>
    
</md-card>